# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mtl

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Exceptions to .gitignore
!gato2d_input.obj
!gato2d_output.obj
!fixedcat.obj
!fixedcat_div.obj
!saida.obj
!fixedcat_div_with_internals.obj
!mergedhullcat.obj
!triang_test.obj
!sortedcat.obj
!sortedcat_internals.obj
!sortedcat_div_internals.obj